.wrapper {
  text-align: center;
  background-color: #feffff;
}

.icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 25px;
  background: #f3f5f9;
  margin: 20px auto;
}

.wrapper .row {
  justify-content: center;
}

.wrapper .feature {
  padding: 10px;
  border: 4px solid white;
}

.wrapper .feature h3 {
  font-size: 18px;
  font-weight: 500;
  width: fit-content;
  margin: 0 auto !important;
}

.wrapper p {
  font-size: 15px;
  margin-top: 20px;
}
.viewExperts {
  background: #0f3460;
  padding: 5px 15px;
  font-size: 12px;
  border-radius: 95px;
  color: #fff;
  margin: 10px;
}
.search-container {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 650px;
  height: 40px;
  padding:15px;
  border-radius: 20px;
  background-color: #f2f2f2;
}
input[type="text"] {
  width: 100%;
  height: 100%;
  padding: 8px;
  border: none;
  font-size: 16px;
  color: #333;
  outline: none;
  background:transparent;
}

.search-icon {
  position: absolute;
  right: 0;
  font-size: 20px;
  color: #999;
  cursor: pointer;
}
